.heroGrid {
    background-image: url(../products/assets/female.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0 0em 1em var(--fontColor);
    padding: 20px;
    margin: 20px;
    height: 500px;
}

.heroContent {
    color: var(--fontColor) !important;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Media query for small screens */
@media (max-width: 600px) {
    .heroGrid {
        height: 250px; /* Reduce height by 50% on small screens */
    }
}

